.kiwi, .kiwi a, .kiwi ul, .kiwi li, .kiwi p {
    padding:0;
    margin:0;
    display:block;
    font-size:16px;
}
.kiwi {
    background-color:#004f41;
    color:aliceblue;
    
}

.kiwi li {
    font-size:1.5em;
    list-style:none;
    border:dotted 3px orangered;
    padding:5px .5em 5px .5em;
}
.kiwi a {
    text-decoration:none;
    color: #ffffff;
    padding:.2em;       
    border-radius:5px;
    transition: background-color 0.3;
    font-family:'Gill Sans';
}
.kiwi li:hover {
    background-color:royalblue;
    border:groove 5px red;
    color:yellow;
}

